# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Application specific
data/
*.log
.env

# Scripts and generated assets
# scripts/ # Keep scripts so that we can generate manifest for PWA
assets/
*.png
!src/assets/*.png  # Keep source PNGs if any
Boilerplate.md 